.root{
-fx-background-color: white;
}

.button{
	-fx-font-size: 10pt;
	-fx-background-radius: 0;
	-fx-background-insets: 0 0 0 0;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
}
.button:focused{
	-fx-border-color:orange;
}
.button:armed {
	-fx-background-color: yellow;
}
.label{
-fx-text-fill: black;
-fx-font-weight: bold;
}

.button:hover{
	-fx-text-fill: black;
	-fx-background-color:lightgray;
}

.button:hover:default{
	-fx-background-color:red;
}

.button:default{
	-fx-background-color:orangered;
}
.combo-box{
    -fx-font-size: 10pt;
	-fx-background-radius: 0;
	-fx-background-insets: 0 0 0 0;
	-fx-background-color:transparent;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}
.combo-box:hover{
-fx-background-color:lightgray;
}
#avatarImages{
-fx-background-radius: 5;

}
.tab {
    -fx-background-color: #D8D2D2;
    
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color:  -fx-text-box-border, white;
    -fx-font-weight: bold;

}

.tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: white;
   
}
.tab-label:selected {
    
    -fx-text-fill: white;
}


