.root{
-fx-background-color: #F3F3F3;
}

.button{
	-fx-font-size: 10.0pt;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
	
}
.button:focused{
	-fx-border-color:black;
}

.label{
-fx-text-fill: black;
-fx-font-weight: bold;
}

.button:hover{
	-fx-text-fill: black;
	-fx-background-color:lightgray;
}

.combo-box{
    -fx-font-size: 10.0pt;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
}
.combo-box:hover{
-fx-background-color:lightgray;
}

#avatarImages{
-fx-background-radius: 5.0;

}
.tab {
    -fx-background-color: #D8D2D2;
    
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color:  -fx-text-box-border, #F3F3F3;
    -fx-font-weight: bold;

}

.tab-label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: white;
   
}
.tab-label:selected {
    
    -fx-text-fill: white;
}

.toggle-button{
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

