.root{
	-fx-background-color: #3A3736;
}

.button{
	-fx-font-size: 10.0pt;
	-fx-text-fill: white;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-color:transparent;
	-fx-font-weight: bold;
}

#titulo1Text, #description1Text, #publicated1Text,#titulo2Text, #description2Text, #publicated2Text,#titulo3Text, #description3Text, #publicated3Text,#titulo4Text, #description4Text, #publicated4Text{
-fx-fill: white;
-fx-font-weight: bold;
-fx-font-size: 10.0pt;
}
#titulo1Text,#titulo2Text,#titulo3Text,#titulo4Text{
-fx-font-size: 20.0pt;
}

.label{
-fx-text-fill: white;
	-fx-font-weight: bold;
}

.button:focused{
	-fx-border-color:white;
}

.button:hover{
	-fx-background-color:darkgray;
}

.combo-box{
    -fx-font-size: 10.0pt;
	-fx-background-radius: 0.0;
	-fx-background-insets: 0.0 0.0 0.0 0.0;
	-fx-background-color:transparent;
	-fx-text-inner-color: white;
	-fx-font-weight: bold;
	
}


.combo-box > .list-cell {

	-fx-text-fill: white;
	
}


.combo-box:hover > .list-cell {
-fx-background-color:darkgray;
	-fx-text-fill: black;
	
}

.combo-box .list-cell {

	-fx-background-color: #3A3736;
	-fx-text-fill:white;
	
}

.combo-box .list-cell:hover {

	-fx-background-color: darkgray;
	-fx-text-fill:black;
	
}

.combo-box:hover{
	-fx-background-color:#3A3736;
	-fx-text-inner-color: black;
	-fx-text-fill: black;
}

#avatarImages{
	-fx-background-radius: 5.0;

}
.tab {
    -fx-background-color: #3A3736;
    
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
    -fx-background-color:  -fx-text-box-border, #333333;

}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #616161;
}

.context-menu{
	-fx-text-fill:black;
}

.toggle-button{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

